In [9]:
import pandas as pd
import pickle

In [10]:
users= pd.read_json('../dataset/users.json')

In [11]:
events = pickle.load(open('../model/events.pkl', 'rb'))

In [12]:
users.head()

,user_id,name,interests,skills,learningGoals,roles,location
0,68e0e01c6fbdb8a90b76129b,Jacob Jennings,"[Game Development, Blockchain, FinTech, Cloud ...","[UI/UX, Node.js, Docker, Data Science, Finance]","[Win a hackathon, Contribute to open source, I...","[student, host]",Brianbury
1,68e0e01c6fbdb8a90b76129c,Mrs. Julie Martinez,"[Sports, Entrepreneurship, DevOps, Robotics, C...","[Data Science, UI/UX, C++, Vue.js]","[Win a hackathon, Master AI]",[student],Lake Johnfort
2,68e0e01c6fbdb8a90b76129d,Mrs. Lynn Lambert,"[Robotics, DevOps, EdTech]","[Leadership, React]","[Improve DSA, Contribute to open source, Win a...",[student],Kendraview
3,68e0e01c6fbdb8a90b76129e,Allison Johnson,"[AI/ML, FinTech, DevOps, EdTech, Game Developm...","[Data Science, C++, Leadership, Finance, Docke...","[Improve DSA, Publish a paper, Win a hackathon...","[student, verifier]",Wallertown
4,68e0e01c6fbdb8a90b76129f,Thomas Davidson,"[Cultural, Blockchain, Sports, Hackathons, Gam...","[Cloud, Node.js, Leadership, Python, C++, Fina...","[Master AI, Get internship, Learn design]","[student, verifier]",West Danielside

In [13]:
# Combine user interests and skills for event history (no explored_history, liked_events, attended_events columns)
users['events'] = users['interests'] + users['skills']

In [14]:
users.head(1)

,user_id,name,interests,skills,learningGoals,roles,location,events
0,68e0e01c6fbdb8a90b76129b,Jacob Jennings,"[Game Development, Blockchain, FinTech, Cloud ...","[UI/UX, Node.js, Docker, Data Science, Finance]","[Win a hackathon, Contribute to open source, I...","[student, host]",Brianbury,"[Game Development, Blockchain, FinTech, Cloud ..."

In [15]:
# Combine interests and skills for user profile
users['key'] = users['interests'] + users['skills']

In [16]:
users['key'] = users['key'].apply(lambda x: " ".join(x))

In [17]:
users['key'] = users['key'] + " " + users['location']

In [18]:
users = users[['user_id','name','key', 'events']]

In [19]:
users

,user_id,name,key,events
0,68e0e01c6fbdb8a90b76129b,Jacob Jennings,Game Development Blockchain FinTech Cloud Comp...,"[Game Development, Blockchain, FinTech, Cloud ..."
1,68e0e01c6fbdb8a90b76129c,Mrs. Julie Martinez,Sports Entrepreneurship DevOps Robotics Cultur...,"[Sports, Entrepreneurship, DevOps, Robotics, C..."
2,68e0e01c6fbdb8a90b76129d,Mrs. Lynn Lambert,Robotics DevOps EdTech Leadership React Kendra...,"[Robotics, DevOps, EdTech, Leadership, React]"
3,68e0e01c6fbdb8a90b76129e,Allison Johnson,AI/ML FinTech DevOps EdTech Game Development D...,"[AI/ML, FinTech, DevOps, EdTech, Game Developm..."
4,68e0e01c6fbdb8a90b76129f,Thomas Davidson,Cultural Blockchain Sports Hackathons Game Dev...,"[Cultural, Blockchain, Sports, Hackathons, Gam..."
...,...,...,...,...
495,68e0e01c6fbdb8a90b76148a,Joshua Moore,Hackathons AI/ML Cloud Computing Robotics Entr...,"[Hackathons, AI/ML, Cloud Computing, Robotics,..."
496,68e0e01c6fbdb8a90b76148b,Keith Sanders,EdTech DevOps Robotics Vue.js Data Science C++...,"[EdTech, DevOps, Robotics, Vue.js, Data Scienc..."
497,68e0e01c6fbdb8a90b76148c,Morgan Kelley,Game Development Robotics Blockchain Sports Cu...,"[Game Development, Robotics, Blockchain, Sport..."
498,68e0e01c6fbdb8a90b76148d,Nathaniel Sanchez,EdTech Sports Game Development DevOps Cloud Co...,"[EdTech, Sports, Game Development, DevOps, Clo..."
499,68e0e01c6fbdb8a90b76148e,Blake Ward,Sports Cloud Computing EdTech AI/ML Node.js Re...,"[Sports, Cloud Computing, EdTech, AI/ML, Node...."

In [20]:
users_event=users[['user_id','events']]

In [21]:
users_event.head(1)

                    user_id                                             events
0  68e0e01c6fbdb8a90b76129b  [Game Development, Blockchain, FinTech, Cloud ...

In [22]:
events.head()

                   event_id                                                key
0  68e0d68abee8a0e226e6fe96  versatile homogeneous interface jaclynborough ...
1  68e0d68abee8a0e226e6fe97  intuitive empowering orchestration new mariabe...
2  68e0d68abee8a0e226e6fe98  reduced contentbased product port alexis stone...
3  68e0d68abee8a0e226e6fe99  objectbased intermediate artificial intelligen...
4  68e0d68abee8a0e226e6fe9a  grassroots global hub new chrisport fletcherje...

In [23]:
# No event history columns, so skip mapping event_ids to event_names

In [24]:
users.head(2)

,user_id,name,key,events
0,68e0e01c6fbdb8a90b76129b,Jacob Jennings,Game Development Blockchain FinTech Cloud Comp...,"[Game Development, Blockchain, FinTech, Cloud ..."
1,68e0e01c6fbdb8a90b76129c,Mrs. Julie Martinez,Sports Entrepreneurship DevOps Robotics Cultur...,"[Sports, Entrepreneurship, DevOps, Robotics, C..."

In [25]:
users['events']= users['events'].apply(lambda x:" ".join(x))

In [26]:
users.head(2)

,user_id,name,key,events
0,68e0e01c6fbdb8a90b76129b,Jacob Jennings,Game Development Blockchain FinTech Cloud Comp...,Game Development Blockchain FinTech Cloud Comp...
1,68e0e01c6fbdb8a90b76129c,Mrs. Julie Martinez,Sports Entrepreneurship DevOps Robotics Cultur...,Sports Entrepreneurship DevOps Robotics Cultur...

In [27]:
users['key'] = users['key'] + " " + users['events'].apply(lambda x: " ".join(x))

In [28]:
users.drop(columns=['events'], inplace=True)

In [29]:
users.head(1)

,user_id,name,key
0,68e0e01c6fbdb8a90b76129b,Jacob Jennings,Game Development Blockchain FinTech Cloud Comp...

In [30]:
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.feature_extraction.text import CountVectorizer

In [31]:
cv = CountVectorizer(max_features=5000,stop_words='english')

In [32]:
user_vector = cv.fit_transform(users['key']).toarray()

In [33]:
user_vector[2]

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0,
       0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0,
       0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0])

In [34]:
user_similarity = cosine_similarity(user_vector)

In [35]:
user_similarity.shape

(500, 500)

In [36]:
list(enumerate(user_similarity[0]))

[(0, np.float64(1.0)),
 (1, np.float64(0.4160251471689219)),
 (2, np.float64(0.10206207261596577)),
 (3, np.float64(0.5809475019311123)),
 (4, np.float64(0.4244373438135828)),
 (5, np.float64(0.33407655239053047)),
 (6, np.float64(0.5809475019311123)),
 (7, np.float64(0.20801257358446093)),
 (8, np.float64(0.32274861218395134)),
 (9, np.float64(0.31622776601683794)),
 (10, np.float64(0.16666666666666666)),
 (11, np.float64(0.48507125007266605)),
 (12, np.float64(0.6681531047810608)),
 (13, np.float64(0.40089186286863654)),
 (14, np.float64(0.4853626716970756)),
 (15, np.float64(0.6240377207533829)),
 (16, np.float64(0.41247895569215276)),
 (17, np.float64(0.43301270189221935)),
 (18, np.float64(0.4160251471689219)),
 (19, np.float64(0.20801257358446093)),
 (20, np.float64(0.39528470752104744)),
 (21, np.float64(0.25)),
 (22, np.float64(0.45883146774112354)),
 (23, np.float64(0.33407655239053047)),
 (24, np.float64(0.4160251471689219)),
 (25, np.float64(0.4472135954999579)),
 (26, np.float64(0.22613350843332272)),
 (27, np.float64(0.47140452079103173)),
 (28, np.float64(0.5276448530110864)),
 (29, np.float64(0.42443734381358267)),
 (30, np.float64(0.2651650429449553)),
 (31, np.float64(0.3872983346207416)),
 (32, np.float64(0.3333333333333333)),
 (33, np.float64(0.36084391824351614)),
 (34, np.float64(0.22613350843332272)),
 (35, np.float64(0.30151134457776363)),
 (36, np.float64(0.5051814855409226)),
 (37, np.float64(0.16666666666666666)),
 (38, np.float64(0.37688918072220456)),
 (39, np.float64(0.4160251471689219)),
 (40, np.float64(0.2165063509461097)),
 (41, np.float64(0.5)),
 (42, np.float64(0.32274861218395134)),
 (43, np.float64(0.6669729688499159)),
 (44, np.float64(0.5303300858899107)),
 (45, np.float64(0.5345224838248487)),
 (46, np.float64(0.2672612419124244)),
 (47, np.float64(0.40147753427348304)),
 (48, np.float64(0.23717082451262844)),
 (49, np.float64(0.670820393249937)),
 (50, np.float64(0.6030226891555274)),
 (51, np.float64(0.41666666666666663)),
 (52, np.float64(0.36084391824351614)),
 (53, np.float64(0.31622776601683794)),
 (54, np.float64(0.41247895569215276)),
 (55, np.float64(0.4677071733467426)),
 (56, np.float64(0.5892556509887896)),
 (57, np.float64(0.49999999999999994)),
 (58, np.float64(0.33541019662496846)),
 (59, np.float64(0.375)),
 (60, np.float64(0.25)),
 (61, np.float64(0.2672612419124244)),
 (62, np.float64(0.23570226039551587)),
 (63, np.float64(0.30151134457776363)),
 (64, np.float64(0.670820393249937)),
 (65, np.float64(0.37688918072220456)),
 (66, np.float64(0.6240377207533829)),
 (67, np.float64(0.36084391824351614)),
 (68, np.float64(0.43301270189221935)),
 (69, np.float64(0.47140452079103173)),
 (70, np.float64(0.3872983346207416)),
 (71, np.float64(0.5)),
 (72, np.float64(0.43301270189221935)),
 (73, np.float64(0.5163977794943221)),
 (74, np.float64(0.6669729688499159)),
 (75, np.float64(0.17677669529663687)),
 (76, np.float64(0.5303300858899107)),
 (77, np.float64(0.4853626716970756)),
 (78, np.float64(0.5303300858899107)),
 (79, np.float64(0.40089186286863654)),
 (80, np.float64(0.4677071733467426)),
 (81, np.float64(0.48507125007266605)),
 (82, np.float64(0.6013377943029548)),
 (83, np.float64(0.6669729688499159)),
 (84, np.float64(0.5276448530110864)),
 (85, np.float64(0.4244373438135828)),
 (86, np.float64(0.49099025303098287)),
 (87, np.float64(0.3638034375544995)),
 (88, np.float64(0.3333333333333333)),
 (89, np.float64(0.31622776601683794)),
 (90, np.float64(0.5735393346764044)),
 (91, np.float64(0.5625)),
 (92, np.float64(0.33407655239053047)),
 (93, np.float64(0.23717082451262844)),
 (94, np.float64(0.45184805705753184)),
 (95, np.float64(0.2004459314343183)),
 (96, np.float64(0.5303300858899107)),
 (97, np.float64(0.45184805705753184)),
 (98, np.float64(0.4472135954999579)),
 (99, np.float64(0.31622776601683794)),
 (100, np.float64(0.4677071733467426)),
 (101, np.float64(0.43301270189221935)),
 (102, np.float64(0.39528470752104744)),
 (103, np.float64(0.4375)),
 (104, np.float64(0.45184805705753184)),
 (105, np.float64(0.5345224838248487)),
 (106, np.float64(0.37688918072220456)),
 (107, np.float64(0.36084391824351614)),
 (108, np.float64(0.5863019699779286)),
 (109, np.float64(0.3872983346207416)),
 (110, np.float64(0.43301270189221935)),
 (111, np.float64(0.2165063509461097)),
 (112, np.float64(0.48507125007266605)),
 (113, np.float64(0.5625)),
 (114, np.float64(0.4677071733467426)),
 (115, np.float64(0.2886751345948129)),
 (116, np.float64(0.3779644730092272)),
 (117, np.float64(0.43301270189221935)),
 (118, np.float64(0.6063390625908326)),
 (119, np.float64(0.41666666666666663)),
 (120, np.float64(0.23717082451262844)),
 (121, np.float64(0.5533985905294664)),
 (122, np.float64(0.41247895569215276)),
 (123, np.float64(0.5833333333333333)),
 (124, np.float64(0.39528470752104744)),
 (125, np.float64(0.45883146774112354)),
 (126, np.float64(0.6875)),
 (127, np.float64(0.36084391824351614)),
 (128, np.float64(0.2886751345948129)),
 (129, np.float64(0.48507125007266605)),
 (130, np.float64(0.5051814855409226)),
 (131, np.float64(0.4522670168666455)),
 (132, np.float64(0.15811388300841897)),
 (133, np.float64(0.4472135954999579)),
 (134, np.float64(0.5051814855409226)),
 (135, np.float64(0.4677071733467426)),
 (136, np.float64(0.5809475019311123)),
 (137, np.float64(0.2581988897471611)),
 (138, np.float64(0.31622776601683794)),
 (139, np.float64(0.43301270189221935)),
 (140, np.float64(0.3125)),
 (141, np.float64(0.3638034375544995)),
 (142, np.float64(0.4160251471689219)),
 (143, np.float64(0.6454972243679026)),
 (144, np.float64(0.43301270189221935)),
 (145, np.float64(0.15075567228888181)),
 (146, np.float64(0.34668762264076824)),
 (147, np.float64(0.32274861218395134)),
 (148, np.float64(0.47140452079103173)),
 (149, np.float64(0.75)),
 (150, np.float64(0.5051814855409226)),
 (151, np.float64(0.3125)),
 (152, np.float64(0.5345224838248487)),
 (153, np.float64(0.6030226891555274)),
 (154, np.float64(0.4853626716970756)),
 (155, np.float64(0.45184805705753184)),
 (156, np.float64(0.4160251471689219)),
 (157, np.float64(0.4375)),
 (158, np.float64(0.3872983346207416)),
 (159, np.float64(0.37688918072220456)),
 (160, np.float64(0.25)),
 (161, np.float64(0.45184805705753184)),
 (162, np.float64(0.3872983346207416)),
 (163, np.float64(0.2165063509461097)),
 (164, np.float64(0.2581988897471611)),
 (165, np.float64(0.4160251471689219)),
 (166, np.float64(0.37688918072220456)),
 (167, np.float64(0.49999999999999994)),
 (168, np.float64(0.07905694150420949)),
 (169, np.float64(0.6255432421712244)),
 (170, np.float64(0.30151134457776363)),
 (171, np.float64(0.32274861218395134)),
 (172, np.float64(0.17677669529663687)),
 (173, np.float64(0.5303300858899107)),
 (174, np.float64(0.36084391824351614)),
 (175, np.float64(0.5547001962252293)),
 (176, np.float64(0.4160251471689219)),
 (177, np.float64(0.33407655239053047)),
 (178, np.float64(0.43301270189221935)),
 (179, np.float64(0.08333333333333333)),
 (180, np.float64(0.375)),
 (181, np.float64(0.14433756729740646)),
 (182, np.float64(0.2773500981126146)),
 (183, np.float64(0.5)),
 (184, np.float64(0.4522670168666455)),
 (185, np.float64(0.375)),
 (186, np.float64(0.12909944487358055)),
 (187, np.float64(0.4160251471689219)),
 (188, np.float64(0.23717082451262844)),
 (189, np.float64(0.15075567228888181)),
 (190, np.float64(0.4375)),
 (191, np.float64(0.34668762264076824)),
 (192, np.float64(0.32274861218395134)),
 (193, np.float64(0.36084391824351614)),
 (194, np.float64(0.22613350843332272)),
 (195, np.float64(0.3333333333333333)),
 (196, np.float64(0.22613350843332272)),
 (197, np.float64(0.5163977794943221)),
 (198, np.float64(0.19364916731037082)),
 (199, np.float64(0.20801257358446093)),
 (200, np.float64(0.3779644730092272)),
 (201, np.float64(0.41666666666666663)),
 (202, np.float64(0.33407655239053047)),
 (203, np.float64(0.24253562503633297)),
 (204, np.float64(0.2004459314343183)),
 (205, np.float64(0.3333333333333333)),
 (206, np.float64(0.3638034375544995)),
 (207, np.float64(0.5)),
 (208, np.float64(0.37688918072220456)),
 (209, np.float64(0.5590169943749475)),
 (210, np.float64(0.3333333333333333)),
 (211, np.float64(0.3872983346207416)),
 (212, np.float64(0.41247895569215276)),
 (213, np.float64(0.18190171877724973)),
 (214, np.float64(0.39528470752104744)),
 (215, np.float64(0.3333333333333333)),
 (216, np.float64(0.3872983346207416)),
 (217, np.float64(0.31622776601683794)),
 (218, np.float64(0.07216878364870323)),
 (219, np.float64(0.48507125007266605)),
 (220, np.float64(0.5031152949374527)),
 (221, np.float64(0.47140452079103173)),
 (222, np.float64(0.45184805705753184)),
 (223, np.float64(0.37688918072220456)),
 (224, np.float64(0.30151134457776363)),
 (225, np.float64(0.3535533905932738)),
 (226, np.float64(0.3125)),
 (227, np.float64(0.31622776601683794)),
 (228, np.float64(0.5457051563317493)),
 (229, np.float64(0.28347335475692037)),
 (230, np.float64(0.48507125007266605)),
 (231, np.float64(0.3333333333333333)),
 (232, np.float64(0.4160251471689219)),
 (233, np.float64(0.14433756729740646)),
 (234, np.float64(0.4244373438135828)),
 (235, np.float64(0.2773500981126146)),
 (236, np.float64(0.5051814855409226)),
 (237, np.float64(0.16666666666666666)),
 (238, np.float64(0.6013377943029548)),
 (239, np.float64(0.35355339059327373)),
 (240, np.float64(0.15811388300841897)),
 (241, np.float64(0.45184805705753184)),
 (242, np.float64(0.625)),
 (243, np.float64(0.2165063509461097)),
 (244, np.float64(0.2672612419124244)),
 (245, np.float64(0.48507125007266605)),
 (246, np.float64(0.40089186286863654)),
 (247, np.float64(0.5809475019311123)),
 (248, np.float64(0.39528470752104744)),
 (249, np.float64(0.4244373438135828)),
 (250, np.float64(0.2004459314343183)),
 (251, np.float64(0.41247895569215276)),
 (252, np.float64(0.3333333333333333)),
 (253, np.float64(0.23717082451262844)),
 (254, np.float64(0.3125)),
 (255, np.float64(0.5163977794943221)),
 (256, np.float64(0.2773500981126146)),
 (257, np.float64(0.5303300858899107)),
 (258, np.float64(0.4522670168666455)),
 (259, np.float64(0.5303300858899107)),
 (260, np.float64(0.5051814855409226)),
 (261, np.float64(0.34412360080584264)),
 (262, np.float64(0.30151134457776363)),
 (263, np.float64(0.125)),
 (264, np.float64(0.5773502691896258)),
 (265, np.float64(0.4014775342734831)),
 (266, np.float64(0.45883146774112354)),
 (267, np.float64(0.32274861218395134)),
 (268, np.float64(0.48507125007266605)),
 (269, np.float64(0.2581988897471611)),
 (270, np.float64(0.4244373438135828)),
 (271, np.float64(0.6030226891555274)),
 (272, np.float64(0.43301270189221935)),
 (273, np.float64(0.2773500981126146)),
 (274, np.float64(0.16666666666666666)),
 (275, np.float64(0.6681531047810608)),
 (276, np.float64(0.22613350843332272)),
 (277, np.float64(0.44194173824159216)),
 (278, np.float64(0.32274861218395134)),
 (279, np.float64(0.2672612419124244)),
 (280, np.float64(0.31622776601683794)),
 (281, np.float64(0.07905694150420949)),
 (282, np.float64(0.5163977794943221)),
 (283, np.float64(0.23717082451262844)),
 (284, np.float64(0.34668762264076824)),
 (285, np.float64(0.28347335475692037)),
 (286, np.float64(0.34668762264076824)),
 (287, np.float64(0.25)),
 (288, np.float64(0.48507125007266605)),
 (289, np.float64(0.31622776601683794)),
 (290, np.float64(0.35355339059327373)),
 (291, np.float64(0.2165063509461097)),
 (292, np.float64(0.4853626716970756)),
 (293, np.float64(0.43301270189221935)),
 (294, np.float64(0.5051814855409226)),
 (295, np.float64(0.19364916731037082)),
 (296, np.float64(0.2773500981126146)),
 (297, np.float64(0.4375)),
 (298, np.float64(0.15811388300841897)),
 (299, np.float64(0.2886751345948129)),
 (300, np.float64(0.34668762264076824)),
 (301, np.float64(0.07537783614444091)),
 (302, np.float64(0.31622776601683794)),
 (303, np.float64(0.5625)),
 (304, np.float64(0.5625)),
 (305, np.float64(0.40089186286863654)),
 (306, np.float64(0.37688918072220456)),
 (307, np.float64(0.5276448530110864)),
 (308, np.float64(0.7100469468046928)),
 (309, np.float64(0.4677071733467426)),
 (310, np.float64(0.22613350843332272)),
 (311, np.float64(0.375)),
 (312, np.float64(0.2886751345948129)),
 (313, np.float64(0.41247895569215276)),
 (314, np.float64(0.48507125007266605)),
 (315, np.float64(0.25)),
 (316, np.float64(0.2165063509461097)),
 (317, np.float64(0.22613350843332272)),
 (318, np.float64(0.15811388300841897)),
 (319, np.float64(0.3638034375544995)),
 (320, np.float64(0.48507125007266605)),
 (321, np.float64(0.3779644730092272)),
 (322, np.float64(0.2773500981126146)),
 (323, np.float64(0.3872983346207416)),
 (324, np.float64(0.41666666666666663)),
 (325, np.float64(0.5051814855409226)),
 (326, np.float64(0.43301270189221935)),
 (327, np.float64(0.4160251471689219)),
 (328, np.float64(0.25)),
 (329, np.float64(0.4677071733467426)),
 (330, np.float64(0.17677669529663687)),
 (331, np.float64(0.41247895569215276)),
 (332, np.float64(0.3333333333333333)),
 (333, np.float64(0.375)),
 (334, np.float64(0.41666666666666663)),
 (335, np.float64(0.3872983346207416)),
 (336, np.float64(0.6546536707079773)),
 (337, np.float64(0.16666666666666666)),
 (338, np.float64(0.1889822365046136)),
 (339, np.float64(0.4244373438135828)),
 (340, np.float64(0.45184805705753184)),
 (341, np.float64(0.5625)),
 (342, np.float64(0.45184805705753184)),
 (343, np.float64(0.6454972243679026)),
 (344, np.float64(0.45184805705753184)),
 (345, np.float64(0.4244373438135828)),
 (346, np.float64(0.19364916731037082)),
 (347, np.float64(0.28347335475692037)),
 (348, np.float64(0.30316953129541624)),
 (349, np.float64(0.15075567228888181)),
 (350, np.float64(0.2886751345948129)),
 (351, np.float64(0.2651650429449553)),
 (352, np.float64(0.3638034375544995)),
 (353, np.float64(0.3333333333333333)),
 (354, np.float64(0.37688918072220456)),
 (355, np.float64(0.41666666666666663)),
 (356, np.float64(0.5590169943749475)),
 (357, np.float64(0.41247895569215276)),
 (358, np.float64(0.32274861218395134)),
 (359, np.float64(0.2672612419124244)),
 (360, np.float64(0.3872983346207416)),
 (361, np.float64(0.47970161180012344)),
 (362, np.float64(0.47970161180012344)),
 (363, np.float64(0.33407655239053047)),
 (364, np.float64(0.2773500981126146)),
 (365, np.float64(0.3535533905932738)),
 (366, np.float64(0.4160251471689219)),
 (367, np.float64(0.5051814855409226)),
 (368, np.float64(0.3638034375544995)),
 (369, np.float64(0.625)),
 (370, np.float64(0.20801257358446093)),
 (371, np.float64(0.37688918072220456)),
 (372, np.float64(0.4522670168666455)),
 (373, np.float64(0.41666666666666663)),
 (374, np.float64(0.20801257358446093)),
 (375, np.float64(0.15811388300841897)),
 (376, np.float64(0.46915743162841816)),
 (377, np.float64(0.08838834764831843)),
 (378, np.float64(0.43301270189221935)),
 (379, np.float64(0.20801257358446093)),
 (380, np.float64(0.30151134457776363)),
 (381, np.float64(0.34668762264076824)),
 (382, np.float64(0.2004459314343183)),
 (383, np.float64(0.2004459314343183)),
 (384, np.float64(0.37688918072220456)),
 (385, np.float64(0.5163977794943221)),
 (386, np.float64(0.5)),
 (387, np.float64(0.5547001962252293)),
 (388, np.float64(0.4375)),
 (389, np.float64(0.4853626716970756)),
 (390, np.float64(0.15075567228888181)),
 (391, np.float64(0.47434164902525694)),
 (392, np.float64(0.30151134457776363)),
 (393, np.float64(0.39528470752104744)),
 (394, np.float64(0.4677071733467426)),
 (395, np.float64(0.37688918072220456)),
 (396, np.float64(0.1386750490563073)),
 (397, np.float64(0.45184805705753184)),
 (398, np.float64(0.4677071733467426)),
 (399, np.float64(0.4677071733467426)),
 (400, np.float64(0.2165063509461097)),
 (401, np.float64(0.4853626716970756)),
 (402, np.float64(0.36084391824351614)),
 (403, np.float64(0.5)),
 (404, np.float64(0.5345224838248487)),
 (405, np.float64(0.45184805705753184)),
 (406, np.float64(0.4522670168666455)),
 (407, np.float64(0.46915743162841816)),
 (408, np.float64(0.25)),
 (409, np.float64(0.7071067811865475)),
 (410, np.float64(0.07537783614444091)),
 (411, np.float64(0.5625)),
 (412, np.float64(0.2672612419124244)),
 (413, np.float64(0.28347335475692037)),
 (414, np.float64(0.45184805705753184)),
 (415, np.float64(0.30151134457776363)),
 (416, np.float64(0.30151134457776363)),
 (417, np.float64(0.35355339059327373)),
 (418, np.float64(0.5345224838248487)),
 (419, np.float64(0.4160251471689219)),
 (420, np.float64(0.5051814855409226)),
 (421, np.float64(0.17677669529663687)),
 (422, np.float64(0.2886751345948129)),
 (423, np.float64(0.5773502691896258)),
 (424, np.float64(0.32274861218395134)),
 (425, np.float64(0.40089186286863654)),
 (426, np.float64(0.1386750490563073)),
 (427, np.float64(0.45184805705753184)),
 (428, np.float64(0.6063390625908326)),
 (429, np.float64(0.40089186286863654)),
 (430, np.float64(0.4160251471689219)),
 (431, np.float64(0.20801257358446093)),
 (432, np.float64(0.48507125007266605)),
 (433, np.float64(0.15811388300841897)),
 (434, np.float64(0.45184805705753195)),
 (435, np.float64(0.4160251471689219)),
 (436, np.float64(0.33407655239053047)),
 (437, np.float64(0.4160251471689219)),
 (438, np.float64(0.48507125007266605)),
 (439, np.float64(0.45184805705753184)),
 (440, np.float64(0.16666666666666666)),
 (441, np.float64(0.20412414523193154)),
 (442, np.float64(0.2946278254943948)),
 (443, np.float64(0.49099025303098287)),
 (444, np.float64(0.5031152949374527)),
 (445, np.float64(0.07537783614444091)),
 (446, np.float64(0.4677071733467426)),
 (447, np.float64(0.3638034375544995)),
 (448, np.float64(0.5345224838248487)),
 (449, np.float64(0.5625)),
 (450, np.float64(0.47140452079103173)),
 (451, np.float64(0.30151134457776363)),
 (452, np.float64(0.37688918072220456)),
 (453, np.float64(0.2004459314343183)),
 (454, np.float64(0.4244373438135828)),
 (455, np.float64(0.33541019662496846)),
 (456, np.float64(0.33407655239053047)),
 (457, np.float64(0.6308932681440447)),
 (458, np.float64(0.22613350843332272)),
 (459, np.float64(0.1875)),
 (460, np.float64(0.47434164902525694)),
 (461, np.float64(0.5163977794943221)),
 (462, np.float64(0.5031152949374527)),
 (463, np.float64(0.3333333333333333)),
 (464, np.float64(0.4522670168666455)),
 (465, np.float64(0.20801257358446093)),
 (466, np.float64(0.5276448530110864)),
 (467, np.float64(0.36084391824351614)),
 (468, np.float64(0.34668762264076824)),
 (469, np.float64(0.5457051563317493)),
 (470, np.float64(0.5457051563317493)),
 (471, np.float64(0.5051814855409226)),
 (472, np.float64(0.5051814855409226)),
 (473, np.float64(0.2165063509461097)),
 (474, np.float64(0.5625)),
 (475, np.float64(0.6063390625908326)),
 (476, np.float64(0.07537783614444091)),
 (477, np.float64(0.25)),
 (478, np.float64(0.32274861218395134)),
 (479, np.float64(0.4160251471689219)),
 (480, np.float64(0.40089186286863654)),
 (481, np.float64(0.23717082451262844)),
 (482, np.float64(0.4160251471689219)),
 (483, np.float64(0.2773500981126146)),
 (484, np.float64(0.4677071733467426)),
 (485, np.float64(0.4853626716970756)),
 (486, np.float64(0.2773500981126146)),
 (487, np.float64(0.2165063509461097)),
 (488, np.float64(0.30316953129541624)),
 (489, np.float64(0.3872983346207416)),
 (490, np.float64(0.23717082451262844)),
 (491, np.float64(0.4160251471689219)),
 (492, np.float64(0.25)),
 (493, np.float64(0.0)),
 (494, np.float64(0.34412360080584264)),
 (495, np.float64(0.3872983346207416)),
 (496, np.float64(0.4160251471689219)),
 (497, np.float64(0.5051814855409226)),
 (498, np.float64(0.36084391824351614)),
 (499, np.float64(0.40089186286863654))]

In [37]:
def recommend_user(user_id):
    index = users[users['user_id']== user_id].index[0]
    distances = user_similarity[index]
    users_list = sorted(list(enumerate(distances)),reverse=True , key=lambda x:x[1])[1:6]

    for i in users_list:
        print(users.iloc[i[0]].user_id)

    return

In [39]:
recommend_user('68e0e01c6fbdb8a90b76129b')

68e0e01c6fbdb8a90b761330
68e0e01c6fbdb8a90b7613cf
68e0e01c6fbdb8a90b761434
68e0e01c6fbdb8a90b761319
68e0e01c6fbdb8a90b7612cc

In [40]:
import pickle

In [41]:
import os
os.makedirs('../model', exist_ok=True)
pickle.dump(users, open('../model/users.pkl', 'wb'))
pickle.dump(users_event, open('../model/users_event.pkl', 'wb'))

In [42]:
pickle.dump(user_similarity, open('../model/users_similarity.pkl', 'wb'))

In [43]:
pickle.dump(user_vector, open('../model/users_vector.pkl', 'wb'))