In [2]:
import pandas as pd
import string
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.feature_extraction.text import CountVectorizer

In [3]:
# Load the datasets
events = pd.read_json("Datasets/events.json")

In [4]:
events.head(1)

,event_id,title,description,tags,location,duration,organizer_name,event_type,domain,price,free_entry,Expected_attendance
0,e111,Deep Learning Bootcamp,Hands-on deep learning with transformers and P...,"[AI, ML, Workshop, deep learning, transformers...",Delhi,1 day / 24 hr,CcpC,Workshop,Artificial Intelligence,499.0,False,100

In [5]:
#combining all strings column
events['Keywords']= events['title'] + '_' + events['location'] + '_' + events['organizer_name'] + '_' + events['event_type'] + '_' + events['domain']

In [6]:
#deleting all these added columns
events.drop(columns=['title', 'location', 'organizer_name', 'event_type', 'Expected_attendance', 'price', 'duration', 'domain'], inplace=True)

In [7]:
#converting the string column into a list column
events['Keywords'] = events['Keywords'].apply(lambda x: x.split('_'))

In [8]:
#combining the keywords and tags columns
#then deleting them
events['keywords']= events['Keywords'] + events['tags'] 
events.drop(columns=['Keywords', 'tags'], inplace=True)

In [9]:
#deleting the free_entry column
events.drop(columns=['free_entry'], inplace=True)

In [10]:
events.head(5)

,event_id,description,keywords
0,e111,Hands-on deep learning with transformers and P...,"[Deep Learning Bootcamp, Delhi, CcpC, Workshop..."
1,e113,Explore the transformative impact of AI in hea...,"[AI in Healthcare Symposium, Bangalore, Health..."
2,e114,Join us for a conference focused on leveraging...,"[AI for Social Good Conference, Mumbai, Global..."
3,e115,This workshop will delve into the ethical impl...,"[AI Ethics and Governance Workshop, Chennai, E..."
4,e116,Discover the latest advancements in AI and rob...,"[AI and Robotics Expo, Hyderabad, Tech Innovat..."

In [11]:
#converting the string column into a list column
events['description'] = events['description'].apply(lambda x: x.split(' '))

In [12]:
#combining the keywords and tags columns
#then deleting them
events['key']= events['keywords'] + events['description'] 
events.drop(columns=['keywords', 'description'], inplace=True)

In [13]:
events

   event_id                                                key
0      e111  [Deep Learning Bootcamp, Delhi, CcpC, Workshop...
1      e113  [AI in Healthcare Symposium, Bangalore, Health...
2      e114  [AI for Social Good Conference, Mumbai, Global...
3      e115  [AI Ethics and Governance Workshop, Chennai, E...
4      e116  [AI and Robotics Expo, Hyderabad, Tech Innovat...
..      ...                                                ...
95     e285  [DevOps Meetup, Gurgaon, Tech Titans, Meetup, ...
96     e286  [Blockchain Forum, Chennai, Tech Titans, Forum...
97     e287  [Augmented Reality Workshop, Gurgaon, Cloud Ni...
98     e288  [Game Development Bootcamp, Pune, Quantum Leap...
99     e289  [Web Development Symposium, Gurgaon, Tech Tita...

[100 rows x 2 columns]

In [14]:
#converting it string
events['key']= events['key'].apply(lambda x:" ".join(x))

In [15]:
events

   event_id                                                key
0      e111  Deep Learning Bootcamp Delhi CcpC Workshop  Ar...
1      e113  AI in Healthcare Symposium Bangalore HealthTec...
2      e114  AI for Social Good Conference Mumbai Global AI...
3      e115  AI Ethics and Governance Workshop Chennai Ethi...
4      e116  AI and Robotics Expo Hyderabad Tech Innovators...
..      ...                                                ...
95     e285  DevOps Meetup Gurgaon Tech Titans Meetup DevOp...
96     e286  Blockchain Forum Chennai Tech Titans Forum Blo...
97     e287  Augmented Reality Workshop Gurgaon Cloud Ninja...
98     e288  Game Development Bootcamp Pune Quantum Leap In...
99     e289  Web Development Symposium Gurgaon Tech Titans ...

[100 rows x 2 columns]

In [16]:
events['key'] = events['key'].str.lower()
events['key'] = events['key'].str.translate(str.maketrans('', '', string.punctuation))

In [17]:
cv = CountVectorizer(max_features=5000,stop_words='english')

In [18]:
event_vector = cv.fit_transform(events['key']).toarray()

In [19]:
event_vector

array([[0, 0, 0, ..., 2, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 1, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 4, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]])

In [20]:
event_similarity = cosine_similarity(event_vector)

In [ ]:
list(enumerate(event_similarity[0]))

[(0, np.float64(1.0)),
 (1, np.float64(0.10144749970923667)),
 (2, np.float64(0.10988845115895121)),
 (3, np.float64(0.22200819711023184)),
 (4, np.float64(0.09177788727679406)),
 (5, np.float64(0.10302042296151677)),
 (6, np.float64(0.21028955778451666)),
 (7, np.float64(0.15959855297967945)),
 (8, np.float64(0.08453958309103057)),
 (9, np.float64(0.681475042298805)),
 (10, np.float64(0.01886792452830189)),
 (11, np.float64(0.14882641804174754)),
 (12, np.float64(0.016536268671305282)),
 (13, np.float64(0.01886792452830189)),
 (14, np.float64(0.01886792452830189)),
 (15, np.float64(0.14882641804174754)),
 (16, np.float64(0.016536268671305282)),
 (17, np.float64(0.016536268671305282)),
 (18, np.float64(0.01886792452830189)),
 (19, np.float64(0.016536268671305282)),
 (20, np.float64(0.01886792452830189)),
 (21, np.float64(0.01886792452830189)),
 (22, np.float64(0.08268134335652641)),
 (23, np.float64(0.01607683798406202)),
 (24, np.float64(0.169811320754717)),
 (25, np.float64(0.016536268671305282)),
 (26, np.float64(0.016536268671305282)),
 (27, np.float64(0.016536268671305282)),
 (28, np.float64(0.01886792452830189)),
 (29, np.float64(0.01607683798406202)),
 (30, np.float64(0.01886792452830189)),
 (31, np.float64(0.016536268671305282)),
 (32, np.float64(0.016536268671305282)),
 (33, np.float64(0.016536268671305282)),
 (34, np.float64(0.14882641804174754)),
 (35, np.float64(0.14882641804174754)),
 (36, np.float64(0.016536268671305282)),
 (37, np.float64(0.14882641804174754)),
 (38, np.float64(0.09433962264150945)),
 (39, np.float64(0.016536268671305282)),
 (40, np.float64(0.01886792452830189)),
 (41, np.float64(0.016536268671305282)),
 (42, np.float64(0.01886792452830189)),
 (43, np.float64(0.018193851153474078)),
 (44, np.float64(0.016536268671305282)),
 (45, np.float64(0.016536268671305282)),
 (46, np.float64(0.016536268671305282)),
 (47, np.float64(0.016536268671305282)),
 (48, np.float64(0.01886792452830189)),
 (49, np.float64(0.01886792452830189)),
 (50, np.float64(0.016536268671305282)),
 (51, np.float64(0.016536268671305282)),
 (52, np.float64(0.016536268671305282)),
 (53, np.float64(0.09433962264150945)),
 (54, np.float64(0.016536268671305282)),
 (55, np.float64(0.016536268671305282)),
 (56, np.float64(0.09433962264150945)),
 (57, np.float64(0.049608806013915846)),
 (58, np.float64(0.08268134335652641)),
 (59, np.float64(0.049608806013915846)),
 (60, np.float64(0.018193851153474078)),
 (61, np.float64(0.016536268671305282)),
 (62, np.float64(0.01607683798406202)),
 (63, np.float64(0.01886792452830189)),
 (64, np.float64(0.049608806013915846)),
 (65, np.float64(0.018193851153474078)),
 (66, np.float64(0.01886792452830189)),
 (67, np.float64(0.01886792452830189)),
 (68, np.float64(0.016536268671305282)),
 (69, np.float64(0.016536268671305282)),
 (70, np.float64(0.01886792452830189)),
 (71, np.float64(0.016536268671305282)),
 (72, np.float64(0.049608806013915846)),
 (73, np.float64(0.01886792452830189)),
 (74, np.float64(0.016536268671305282)),
 (75, np.float64(0.016536268671305282)),
 (76, np.float64(0.08268134335652641)),
 (77, np.float64(0.05660377358490567)),
 (78, np.float64(0.09433962264150945)),
 (79, np.float64(0.016536268671305282)),
 (80, np.float64(0.01886792452830189)),
 (81, np.float64(0.016536268671305282)),
 (82, np.float64(0.016536268671305282)),
 (83, np.float64(0.016536268671305282)),
 (84, np.float64(0.016536268671305282)),
 (85, np.float64(0.049608806013915846)),
 (86, np.float64(0.08268134335652641)),
 (87, np.float64(0.03215367596812404)),
 (88, np.float64(0.016536268671305282)),
 (89, np.float64(0.016536268671305282)),
 (90, np.float64(0.016536268671305282)),
 (91, np.float64(0.01886792452830189)),
 (92, np.float64(0.09433962264150945)),
 (93, np.float64(0.05660377358490567)),
 (94, np.float64(0.016536268671305282)),
 (95, np.float64(0.01886792452830189)),
 (96, np.float64(0.01886792452830189)),
 (97, np.float64(0.14882641804174754)),
 (98, np.float64(0.0803841899203101)),
 (99, np.float64(0.016536268671305282))]

In [26]:
def recommend_event(event_id):
    index = events[events['event_id']== event_id].index[0]
    distances = event_similarity[index]
    events_list = sorted(list(enumerate(distances)),reverse=True , key=lambda x:x[1])[1:6]

    for i in events_list:
        print(events.iloc[i[0]].event_id)

    return

In [27]:
recommend_event('e220')

e203
e208
e238
e267
e230

In [24]:
import pickle
pickle.dump(event_similarity, open('Models/events_similarity.pkl', 'wb'))

In [25]:
pickle.dump(events, open('Models/events.pkl', 'wb'))