In [99]:
import pandas as pd
import pickle

In [100]:
users= pd.read_json('Datasets/updated_users.json')

In [101]:
events = pickle.load(open('Models/events.pkl', 'rb'))

In [102]:
users.head()

,user_id,name,preferred_domains,interests_tags,location,explored_history,liked_events,attended_events
0,u123,Abc Kumar,"[Artificial Intelligence, Web Development, Sta...","[deep learning, react.js, pitching, transforme...",Bengaluru,"[e206, e212]","[e215, e252]","[e266, e232]"
1,u223,Shcde Singh,"[Artificial Intelligence, Web Development, Com...","[deep learning, react.js, transformers, LLM]",Delhi,"[e258, e211]","[e118, e287]","[e214, e230]"
2,u300,Riya Singh,"[FinTech, DevOps, Startups & Entrepreneurship]","[founders, deep learning, node.js, transformer...",Mumbai,"[e116, e238, e246]",[e228],[e238]
3,u301,Riya Reddy,"[Artificial Intelligence, EdTech, Startups & E...","[vue.js, docker, transformers, startups, python]",Chennai,"[e251, e205]",[e285],[e286]
4,u302,Ravi Khan,"[Web Development, Blockchain, Cybersecurity]","[docker, transformers, react.js, deep learning...",Chennai,"[e239, e275, e284]","[e116, e246]","[e207, e287]"

In [103]:
users['events'] = users['explored_history']+users['liked_events']+users['attended_events']

In [104]:
users.head(1)

,user_id,name,preferred_domains,interests_tags,location,explored_history,liked_events,attended_events,events
0,u123,Abc Kumar,"[Artificial Intelligence, Web Development, Sta...","[deep learning, react.js, pitching, transforme...",Bengaluru,"[e206, e212]","[e215, e252]","[e266, e232]","[e206, e212, e215, e252, e266, e232]"

In [105]:
users['key']= users['preferred_domains'] + users['interests_tags']

In [106]:
users['key']=users['key'].apply(lambda x:" ".join(x))

In [107]:
users['key']=users['key']+users['location']

In [108]:
users = users[['user_id','name','key', 'events']]

In [109]:
users

,user_id,name,key,events
0,u123,Abc Kumar,Artificial Intelligence Web Development Startu...,"[e206, e212, e215, e252, e266, e232]"
1,u223,Shcde Singh,Artificial Intelligence Web Development Compet...,"[e258, e211, e118, e287, e214, e230]"
2,u300,Riya Singh,FinTech DevOps Startups & Entrepreneurship fou...,"[e116, e238, e246, e228, e238]"
3,u301,Riya Reddy,Artificial Intelligence EdTech Startups & Entr...,"[e251, e205, e285, e286]"
4,u302,Ravi Khan,Web Development Blockchain Cybersecurity docke...,"[e239, e275, e284, e116, e246, e207, e287]"
5,u303,Aisha Khan,Artificial Intelligence Startups & Entrepreneu...,"[e250, e270, e241, e116]"
6,u304,Karan Reddy,DevOps Artificial Intelligence Blockchain pitc...,"[e207, e231, e116, e264]"
7,u305,Priya Patel,Blockchain Cloud Computing FinTech cloud pytho...,"[e230, e220, e263, e273, e261, e287]"
8,u306,Neha Mishra,Cloud Computing Cybersecurity FinTech pitching...,"[e264, e241, e233, e244, e115]"
9,u307,Karan Verma,EdTech Blockchain Artificial Intelligence gami...,"[e202, e240, e281, e224]"
10,u308,Priya Khan,FinTech Game Development DevOps pitching deep ...,"[e280, e269, e276, e213, e262]"
11,u309,Karan Iyer,Web Development Startups & Entrepreneurship De...,"[e206, e227, e201, e274, e253, e216]"
12,u310,Riya Das,EdTech Cybersecurity Artificial Intelligence n...,"[e211, e235, e272, e252]"
13,u311,Sneha Iyer,EdTech Game Development Cloud Computing vue.js...,"[e284, e262, e266]"
14,u312,Priya Reddy,Cloud Computing FinTech Web Development deep l...,"[e274, e284, e113, e119]"
15,u313,Aryan Reddy,Cybersecurity DevOps FinTech founders finance ...,"[e244, e231, e268, e210, e277]"
16,u314,Tanmay Singh,Cloud Computing DevOps Game Development ethics...,"[e114, e234, e253]"
17,u315,Ankit Sharma,Cloud Computing EdTech Startups & Entrepreneur...,"[e209, e244, e216, e243, e249]"
18,u316,Riya Iyer,Blockchain Startups & Entrepreneurship EdTech ...,"[e211, e234, e120, e219, e240, e272, e116]"
19,u317,Ravi Verma,EdTech FinTech Cloud Computing finance pitchin...,"[e217, e272, e252, e253]"
20,u318,Ravi Gupta,Cloud Computing Startups & Entrepreneurship Ed...,"[e230, e234, e242, e211, e266, e200]"
21,u319,Priya Sharma,Startups & Entrepreneurship Game Development C...,"[e118, e270, e276, e249]"
22,u320,Aryan Khan,Startups & Entrepreneurship FinTech Web Develo...,"[e276, e111, e278, e269, e228]"
23,u321,Aisha Iyer,FinTech Startups & Entrepreneurship Web Develo...,"[e205, e227, e116, e217, e210]"
24,u322,Neha Khan,EdTech Blockchain Artificial Intelligence foun...,"[e255, e235, e284, e111, e286, e269]"
25,u323,Neha Sharma,Startups & Entrepreneurship DevOps Game Develo...,"[e248, e200, e120, e113, e255, e234]"
26,u324,Priya Singh,Web Development Cloud Computing FinTech react....,"[e114, e254, e223, e228, e281]"
27,u325,Riya Khan,Game Development Cybersecurity Web Development...,"[e285, e247, e216, e230, e227, e264]"
28,u326,Ravi Verma,DevOps Artificial Intelligence Startups & Entr...,"[e258, e282, e257, e269, e228, e258]"
29,u327,Neha Mishra,Startups & Entrepreneurship Cloud Computing Ga...,"[e272, e263, e234, e279, e203, e244]"

In [110]:
events.head()

  event_id                                                key
0     e111  deep learning bootcamp delhi ccpc workshop  ar...
1     e113  ai in healthcare symposium bangalore healthtec...
2     e114  ai for social good conference mumbai global ai...
3     e115  ai ethics and governance workshop chennai ethi...
4     e116  ai and robotics expo hyderabad tech innovators...

In [111]:
#adding events key to the user event column
#finding event key by event id
# 1. Explode the liked_events column
exploded = users.explode('events')

# 2. Map event_ids to event_names
id_to_key = dict(zip(events['event_id'], events['key']))
exploded['events'] = exploded['events'].map(id_to_key)

# 3. Group back to list per user
users['events'] = exploded.groupby(level=0)['events'].apply(list)

In [112]:
users.head(2)

,user_id,name,key,events
0,u123,Abc Kumar,Artificial Intelligence Web Development Startu...,[quantum computing conference jaipur tech tita...
1,u223,Shcde Singh,Artificial Intelligence Web Development Compet...,[mobile development meetup mumbai blockchain h...

In [113]:
users['events']= users['events'].apply(lambda x:" ".join(x))

In [114]:
users.head(2)

,user_id,name,key,events
0,u123,Abc Kumar,Artificial Intelligence Web Development Startu...,quantum computing conference jaipur tech titan...
1,u223,Shcde Singh,Artificial Intelligence Web Development Compet...,mobile development meetup mumbai blockchain hu...

In [115]:
users['key'] = users['key'] + users['events']

In [116]:
users.drop(columns=['events'], inplace=True)

In [117]:
users.head(1)

  user_id        name                                                key
0    u123  Abc Kumar   Artificial Intelligence Web Development Startu...

In [118]:
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.feature_extraction.text import CountVectorizer

In [119]:
cv = CountVectorizer(max_features=5000,stop_words='english')

In [120]:
user_vector = cv.fit_transform(users['key']).toarray()

In [121]:
user_vector[2]

array([ 0,  0,  1,  0,  2,  0,  0,  0,  0,  0,  0,  1,  0,  0,  0,  0,  0,
        0,  0,  0,  0,  4,  8,  0,  0,  0,  0,  0,  1,  0,  0,  0,  0,  0,
        0,  0,  0,  0,  2,  0,  0,  0,  0,  4,  0,  0,  0,  5,  0,  0,  0,
        1,  0,  0,  1,  0,  4,  0,  0,  6,  0,  0,  1,  0,  0,  0,  0,  0,
        0,  0,  0,  0,  0,  0,  1,  0,  0,  0,  1,  0,  0,  0,  2,  4,  0,
        0,  1,  0,  0,  0,  1,  0,  0,  8,  1,  0,  0,  0,  0,  1,  0,  0,
        1,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  4,  0, 10,  4,  1,  0,
        0,  0,  0,  0,  0,  0,  1,  0,  0,  0,  1,  0,  0,  1,  1,  0,  0,
        0,  0,  0,  1,  0,  0,  0,  0,  0,  0,  1,  0,  0,  0,  0,  1,  1,
        0,  0,  0,  1,  0,  0,  0,  1,  0,  0,  0,  0,  0,  0,  1,  0,  0,
        0,  0,  0,  0,  0,  2,  1,  1,  0,  0,  1,  0,  0,  0,  0,  0,  1,
        0,  1,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
        0,  0,  0,  0,  3,  0,  0,  0,  0,  0,  0,  1,  1,  0,  0,  0,  0,
        0,  0,  1,  0,  0,  0,  1,  0,  0,  0,  0,  0,  0,  1,  0,  0,  0,
        0,  2,  0,  0,  0,  2,  0,  0])

In [122]:
user_similarity = cosine_similarity(user_vector)

In [123]:
list(enumerate(user_similarity[0]))

[(0, np.float64(0.9999999999999996)),
 (1, np.float64(0.37038765881599284)),
 (2, np.float64(0.4622779380154402)),
 (3, np.float64(0.6417877128087397)),
 (4, np.float64(0.40970444029732955)),
 (5, np.float64(0.34562039970797837)),
 (6, np.float64(0.5117169548303089)),
 (7, np.float64(0.5360746871667037)),
 (8, np.float64(0.4323909224534012)),
 (9, np.float64(0.4703057352426384)),
 (10, np.float64(0.4094647303977229)),
 (11, np.float64(0.5451266534553416)),
 (12, np.float64(0.5609614071827331)),
 (13, np.float64(0.45341101628990876)),
 (14, np.float64(0.3477123433883528)),
 (15, np.float64(0.7320968057974746)),
 (16, np.float64(0.3886454633303307)),
 (17, np.float64(0.46516168382657835)),
 (18, np.float64(0.4221767688105138)),
 (19, np.float64(0.47567774351265285)),
 (20, np.float64(0.7269572740207434)),
 (21, np.float64(0.2815481282794137)),
 (22, np.float64(0.36113656295007956)),
 (23, np.float64(0.47139505202550364)),
 (24, np.float64(0.4356159053024801)),
 (25, np.float64(0.4566004211032615)),
 (26, np.float64(0.39409299587941216)),
 (27, np.float64(0.4549798870044343)),
 (28, np.float64(0.35863471644738054)),
 (29, np.float64(0.4565984899913841))]

In [133]:
def recommend_user(user_id):
    index = users[users['user_id']== user_id].index[0]
    distances = user_similarity[index]
    users_list = sorted(list(enumerate(distances)),reverse=True , key=lambda x:x[1])[1:6]

    for i in users_list:
        print(users.iloc[i[0]].user_id)

    return

In [ ]:
recommend_user('u320')

u326
u308
u319
u322
u315

In [130]:
import pickle

In [131]:
pickle.dump(users, open('Models/users.pkl', 'wb'))

In [135]:
pickle.dump(user_similarity, open('Models/users_similarity.pkl', 'wb'))